body {
	background-color: Gray;
	background-image: url(pixel.gif);
	background-repeat: repeat-y;
	background-position: right;
	color: Aqua;
	margin: 0px 0px 0px 0px;
}

a { 
	color: Red;
	text-decoration: none;
}

a:link { 
	color: 00AAFF; 
	text-decoration: none;
}

a:visited { 
	color: 0077FF; 
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}
