<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <appSettings/>
	<connectionStrings>
		<add name="TestConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet;Integrated Security=True;" 
         providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
	
  <roleManager enabled="true" defaultProvider="SQLProvider">
   <providers>
    <add connectionStringName="TestConnectionString" name="SQLProvider" 
		     type="System.Web.Security.SqlRoleProvider" />
   </providers>
  </roleManager>
		
   <compilation debug="true" />

   <membership defaultProvider="MyMembershipProvider">
			
   <providers>
    <add connectionStringName="TestConnectionString" 
		 minRequiredPasswordLength="1"
		 requiresQuestionAndAnswer="false" 
		 enablePasswordRetrieval="false"
		 requiresUniqueEmail="false" 
		 applicationName="/Demo-4-MembershipControls" 
		 minRequiredNonalphanumericCharacters="0"
		 name="MyMembershipProvider" 
		 type="System.Web.Security.SqlMembershipProvider" />
   </providers>
  </membership>
		
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" protection="All" timeout="10">
			</forms>
		</authentication>
		
		<authorization>
			<deny users="?"/>
		</authorization>
    </system.web>
	
	<location path="Register.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="PasswordRecovery.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	
</configuration>
